/* Colors */

:root {
    --primary: #eb2f64;
    --primary-light: #ff3366;
    --primary-dark: #ba265d;

    --grey-light-1: #faf9f9;
    --grey-light-2: #f4f2f2;
    --grey-light-3: #f0eeee;
    --grey-light-4: #ccc;

    --grey-dark-1: #333;
    --grey-dark-2: #777;
    --grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

    --line: 1px solid var(--grey-light-2);
}

$bp-largest: 75em; //1200px
$bp-large: 70.65em; //~1130px
$bp-medium: 61.125em; //978px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em;
$bp-xsmall: 28.45em;
