/*-------Description Section-------*/

.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}

.list {
    margin: 3rem 0;
    list-style: none;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);

    display: flex;
    flex-wrap: wrap;

    &__item {
        flex: 0 0 50%;
        margin-bottom: 0.7rem;

        @media only screen and (max-width: $bp-xsmall) {
            flex: 0 0 100%;
        }
    }

    &__item::before {
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;

        margin-right: 7px;

        // Older browsers
        background-image: url(../img/chevron-thin-right.svg);
        background-size: cover;

        //Newer browsers - masks
        @supports (-webkit-mask-image: url()) or (mask-image: url()) {
            background-color: var(--primary);
            -webkit-mask-image: url(../img/chevron-thin-right.svg);
            -webkit-mask-size: cover;
            mask-image: url(../img/chevron-thin-right.svg);
            mask-size: cover;
            background-image: none;
        }
    }
}

.recommend {
    font-size: 1.3rem;
    color: var(--grey-dark-3);

    display: flex;
    align-items: center;

    &__count {
        margin-right: auto;
    }

    &__friends {
        display: flex;
    }

    &__photo {
        box-sizing: content-box;

        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid #fff;

        &:not(:last-child) {
            margin-right: -1.5rem;

            @media only screen and (max-width: $bp-largest) {
                margin-right: -2rem;
            }
        }
    }
}
